
body{
    background-color: rgba(38, 38, 44,1);
}
.wheel{
    background-image: url("wheel_400.png");
    width:400px;
    height: 400px;
}
.dcalc{
    position: absolute;
    bottom: 30px;
    text-align: center;
}
.point{
    width: 10px;
    height: 10px;
    bottom:0;
}

#insidetest{
    width:40%;
    height: 50px;
    cursor: pointer;
    display: table;
    margin: 0 auto;
}
#test{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

#calc{
    opacity: 1;
    font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-variant-numeric: tabular-nums;
    text-align: center;
    display: block;
    font-size: 26px;
    color: #404040;
    font-weight: 500;
}
.dcalc i{
    transform: rotate(135deg);
    color: #404040;
    font-size:30px;
}
.container {
    display: flex;
    position: relative;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-top: 200px;
}