body {
  background-color: gray;
}

img {
  position: absolute;
  top: 27%;
  right: 40%;
  animation-name: change;
  animation-delay: 3s;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes change{
  from{transform: rotate(0deg)}
  to{transform : rotate(360deg)}
}
